/*Only use this file if you want to override bootstrap or create your own style*/
.enemy-image {
    padding-top: 20px
}

.status-bar {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

participants {
    display: flex;
    justify-content: center
}